*
{
    padding: 0;
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", ヒラギノ角ゴシック, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Roboto, メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

a
{
    text-decoration: none;
}

.container{
    width: 560px;
    margin: 40px auto;
}

.back-link{
    font-size: 14px;
}

h1
{
    border-bottom: 1px solid;
    margin: 16px 0;
    padding-bottom: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

h2
{
    font-size: 16px;
    margin-top: 40px;
}

h1 > a{
    font-weight: normal;
    font-size: 14px;
    margin-left: auto;
}


li{
    line-height: 1.6;
    padding-bottom: 8px;
    list-style: none;
}

p{
    line-height: 1.6;
}

input,
textarea
{
    width: 100%;
    padding: 4px;
}

textarea
{
    height: 160px;
}

button
{
    padding: 4px 8px;
    font-size: 14px;
}

.form-group
{
    margin-bottom: 16px;
}

.form-button
{
    text-align: right;
}

.error
{
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

/* .btn
{
    background: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    vertical-align: 1px;
    font-size: 16px;
    font-weight: normal;
} */

.comment-form
{
    display: flex;
}

.comment-form > button
{
    margin-left: 8px;
}

/* Add by me */
.projects-index-user_list > ul
{
    list-style: none;
}
.projects-index-user
{
    display: inline-block;
    width: 560px;
    height: 238px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects-index-user > a
{
    color: black;
}

.projects-index-user > a:hover .project-title
{
    color: #006F8E;
}

img
{
    display: block;
    /* max-width: 100%; */
    /* width: 560px; */
    height: 238px;
}

a > img
{
    margin-bottom:5px ;
}

.project-detail > h2
{
    font-size: 22px;
}

.project-detail > p
{
    font-size: 14px;
}

.btn
{
    color: #006F8E;
    background-color: transparent;
    border: solid#006F8E 1px;
    padding:5px 20px;
    border-radius: 6px;
}
.btn:hover
{
    background-color: #006F8E;
    color: white;
    transition: 0.5s;
}

.btn-right
{
    margin-left: 10px;
}
